body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Anton";
  background-color: whitesmoke;
}

div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em;
}

img {
  height: 8em;
  width: auto;
}

input {
  height: 3em;
  width: 4em;
  font-size: xx-large;
  text-align: center;
}

h2 {
  margin: 1em;
  text-align: center;
}

#holiday-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#results {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
  margin: 1em;
}

#results > * {
  margin: 0.3em;
}
